#bg {
  background-attachment: fixed;
  background-color: aqua;
  background-image: url("./img/bg.jpg");
  background-position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wraaper-text {
  display: flex;
  justify-content: space-around;
  margin-top: 250px;
  color: white;
  flex-direction: column;
}

.avatar {
  width: 130px;
  height: 130px;
  left: 861px;
  top: 380px;
  border-radius: 60px;
}

.btn-call {
  justify-content: space-around;
  background-color: white;
  border-radius: 10px;
  font-family: "Saira", sans-serif;
  border: none;
  font-weight: 700;
  padding: 10px 33px 10px 33px;
  color: #3c77d0;
}

.user-story {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .wraaper-text {
    flex-direction: column column-reverse;
  }

  .btn-call {
    width: 100%;
  }
}
